<ion-header>
  <page-header></page-header>
</ion-header>


<ion-content padding class="trips detail-bg">
  <ion-toolbar padding color="light" class="title-header round">
    <p ion-text no-margin class="text-white">
      <strong>{{cat_name}}</strong>
    </p>
  </ion-toolbar>
  <ion-title *ngIf="false" class="category-title">
    <h2>{{cat_name}}</h2>
  </ion-title>
  
  <ion-row>
    <ion-col col-12 col-md-6 col-lg-4 col-xl-3 class="trip card" *ngFor="let itm of currentProducts" tappable (click)="openItem(itm)" margin-bottom>
      <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + itm.picture + ')'}">
        <div class="background-filter rlt">
          <div class="align-bottom" padding-left padding-right>
            <h6 class="pull-left text-white" ion-text>{{ itm.name }}</h6>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="padding-sm primary-bg">
        <ion-row>
          <ion-col text-left>
            <div>
              <span *ngFor="let dummy of ' '.repeat(itm.star).split(''), let x = index">
                <ion-icon name="star"></ion-icon>
              </span>
              <span *ngIf="itm.star_half">
                <ion-icon name="star-half"></ion-icon>
              </span>
              <span *ngFor="let dummy of ' '.repeat(5 - itm.star - (itm.star_half ? 1 : 0)).split(''), let x = index">
                <ion-icon name="star" class="no-star"></ion-icon>
              </span>
              <span color="light">({{itm.review}})</span>
            </div>
          </ion-col>
          <ion-col text-right>
            <span class="pull-right text-white" ion-text>
              <h6>{{itm.price | currency:'VND':'symbol': '1.0-2'}}</h6>
            </span>
            <span class="pull-right" ion-text color="light" style="padding-right: 10px;">
              <i>{{ itm.deal_note}}</i>
            </span>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>