<ion-header>
  <page-header></page-header>
</ion-header>

<ion-content>
  <ion-title class="category-title">
    <h2>{{cat_name}}</h2>
  </ion-title>
  <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of currentProducts" col-12 col-md-6 col-lg-4 col-xl-3>
          <button ion-item (click)="openItem(item)">
            <div>
              <img [src]="item.picture" />
            </div>
            <div class="item-name">{{item.name}}</div>
            <div class="item-price">{{item.price}} đ</div>
            <div>
              <span *ngFor="let dummy of ' '.repeat(item.star).split(''), let x = index">
                <ion-icon name="star"></ion-icon>
              </span>
              <span *ngIf="item.star_half">
                <ion-icon name="star-half"></ion-icon>
              </span>
              <span *ngFor="let dummy of ' '.repeat(5 - item.star - (item.star_half ? 1 : 0)).split(''), let x = index">
                <ion-icon name="star" class="no-star"></ion-icon>
              </span>
              ({{item.review}})
            </div>
            <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <page-footer></page-footer>
</ion-content>