<ion-header>
  <page-header></page-header>
</ion-header>

<ion-content>
  <ion-title class="category-title">
    <h2>{{cat_name}}</h2>
  </ion-title>
  <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of currentProducts" col-12 col-md-6 col-lg-4 col-xl-3>
          <button ion-item (click)="openItem(item)">
            <div>
              <img [src]="item.picture" />
            </div>
            <h2>{{item.name}}</h2>
            <div>{{item.price}} đ</div>
            <div>{{item.star}}</div> ({{item.review}})
            <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <page-footer></page-footer>
</ion-content>