page-product-single {
	div.item-name{
		font-size: 11pt;
	}
	div.item-price{
		font-size: 12pt;
		color: #f57224;
	}
	ion-icon[name='star'],
	ion-icon[name='star-half']{
		color: orange;
	}
	ion-icon[name='star'].no-star{
		color: lightgrey;
	}
	div.product-detail{
		padding: 16px;
	}
	ion-icon.fav{
		color: red;
	}
	.item-md{
		padding-left: 0px;
		.radio-md{
			margin: 0px;
		}
	}
}
