<ion-header>
  <page-header></page-header>
</ion-header>


<ion-content padding class="trips detail-bg">
  <ion-toolbar padding color="light" class="title-header round">
    <p ion-text no-margin class="text-white">
      <strong>{{'LBL_ORDER' | translate}}</strong>
    </p>
  </ion-toolbar>
  
  <ion-row>
    <ion-col col-12 col-md-6 col-lg-4 col-xl-3 class="trip" *ngFor="let itm of currentOrders" tappable (click)="openItem(itm)" padding-10>
      <!-- <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + itm.picture + ')'}"> -->
      <!-- </div> -->
      <div class="card">
        <ion-row class="primary-bg">
          <ion-col text-left col-8 class="text-white">
            <h6 class="" ion-text>Đơn hàng: {{ itm.orderRef }}</h6>
          </ion-col>
          <ion-col text-right>
            <span>
              <span *ngFor="let dummy of ' '.repeat(itm.star).split(''), let x = index">
                <ion-icon name="star"></ion-icon>
              </span>
              <span *ngIf="itm.star_half">
                <ion-icon name="star-half"></ion-icon>
              </span>
              <span *ngFor="let dummy of ' '.repeat(5 - itm.star - (itm.star_half ? 1 : 0)).split(''), let x = index">
                <ion-icon name="star" class="no-star"></ion-icon>
              </span>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-left col-12>
            <h6 class="" ion-text>Trạng thái: Mới</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-left col-8>
            <h6 class="" ion-text>Ngày mua: 25-12-2018</h6>
          </ion-col>
          <ion-col text-right>
            <span class="pull-right" ion-text>
              <h6>{{itm.totalAmount | currency:'VND':'symbol': '1.0-2'}}</h6>
            </span>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>