  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-grid>
      <ion-row>
        <ion-col class="logo-div">
          <ion-title>
            <span class="logo-wrapper">
              <img src="../assets/img/layout/logo.png"/>
            </span>
          </ion-title>
        </ion-col>
        <ion-col>
          <span class="slogan-wrapper">
            {{ 'ALOHA_SLOGAN' | translate }}
          </span>
          <span class="heart-wrapper">
            <ion-icon name="heart">50</ion-icon>
          </span>
          <ion-buttons end>
            <button *ngIf="!isLoggedIn" ion-button class="button-signUp" (click)="signUp()">
              {{ 'BTN_SIGNUP' | translate}}
            </button>
            <button *ngIf="!isLoggedIn" ion-button class="button-signIn" (click)="signIn()">
              {{ 'BTN_SIGNIN' | translate}}
            </button>
            <button *ngIf="isLoggedIn" ion-button class="button-signOut" (click)="signOut()">
              {{ currentUser?.name }}
              <span style="padding-right: 15px"></span>
              <ion-icon name="log-out"></ion-icon>
            </button>
            <button ion-button class="button-showSearch" (click)="showSearch()">
              <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button class="button-showCart" (click)="showCart()">
              <ion-icon name="cart">
              </ion-icon>
              <div id="countCartItem" *ngIf=(noOfCartItems)>
                {{noOfCartItems}}
              </div>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-navbar>
