<ion-header>
  <page-header></page-header>
</ion-header>  
<ion-content fullscreen="true" class="trips detail-bg">
  <div>
    <div class="title-intro">
      {{ 'ALOHA_INTRO' | translate }}
    </div>
  </div>
  <div *ngIf="false">
    <page-slide></page-slide>  
  </div>
  <ion-row>
    <ion-col col-12 col-md-6 col-lg-6 col-xl-4 class="trip" *ngFor="let itm of currentCategories" tappable (click)="openItem(itm)" padding-10>
      <div class="card background" [ngStyle]="{'background-image': 'url(' + itm.picture + ')'}">
      </div>
    </ion-col>
  </ion-row>
</ion-content>