<ion-header>
  <page-header></page-header>
</ion-header>  
<ion-content fullscreen="true">
  <div>
    <div class="title-intro">
      {{ 'ALOHA_INTRO' | translate }}
    </div>
  </div>
  <div>
    <page-slide></page-slide>  
  </div>
  <div>
    <ion-list>
      <ion-item-sliding *ngFor="let item of currentCategories">
        <button ion-item (click)="openItem(item)">
          <div>
            <img [src]="item.picture" />
          </div>
          <h2>{{item.name}}</h2>
          <p>{{item.slug}}</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>  
    </ion-list>
  </div>
  
  <page-footer></page-footer>
</ion-content>