page-checkout {
  .item-price{
    font-size: 12pt;
    color: #f57224;
    text-align: right;
  }
  .scroll-content,
  fixed-content {
    ion-card {
      margin: 0 !important;
      width: 100% !important;
      margin-bottom: 9px !important;
      ion-card-content {
        padding: 8px !important;
        .item-inner{
          border-bottom: 1px solid #dedede !important;
        }
        ion-col {
          padding: 0;
          span.price {
            right: 0;
            position: absolute;
            bottom: 0;
          }
          span.remove {
            left: 0;
            position: absolute;
            bottom: 0;
            background: #ff0000;
            padding: 3px 10px;
            color: #fff;
          }
          ion-item {
            /*min-height: 75px !important;*/
            padding: 0 !important;
            .item-inner {
              padding: 0 !important;
              ion-label {
                /*min-height: 75px !important;*/
                margin: 0 !important;
                .thumb {
                  /*min-height: 75px !important;*/
                  img {
                    border-radius: 0 !important;
                    width: auto;
                    height: 100%;
                    max-height: 50px;
                    margin-right: 0 !important;
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}