page-footer{
	font-family: "Arial";
	font-size: 13pt;
	
	ion-item-group{
		padding: 50px 5px;
  	/*background-color: #ccc;*/
		.scroll{
			min-height: 100%;
		}
		.storeicon{
			min-height: 32px;
		}
		.item-divider-md{
			font-size: 13.5pt;
			color: #3a3838;
			font-weight: bold;
			border-bottom: 0;
			/*background-color: #ccc;*/
			ion-label.label{
				margin: 0;
				div.is-divider{
					background-color: #000 !important;
		    	height: 2px;
		    	margin-bottom: 10px;
		    	width: 80%;
				}	
			}
		}
		.item-md.item-block{
			/*background-color: #ccc;*/
			.item-inner{
				border-bottom: 0;
			}
		}
	}
}